* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    background-color: aqua;
    overflow-x: hidden;

}

body.lock-scroll {
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.gap-beetween {
    width: 100vw;
    height: 500px;
    background-color: aqua;
}

:root {
    --primary-color: rgb(20, 20, 20);
    --secoundry-color: rgb(48, 48, 48);
    --font-family: "Roboto", sans-serif;
    --font-pimary-heading: 9.8rem;
    --font-secountry: 1.4rem;
    --font-color: white;
}

.main {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page2,
.page3,
.page4 {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: transparent; */
}

.bg-video {
    transform: scale();
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(0.4);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transform: translateY(-80px);
}

.typewrite {
    color: white;
    font-size: 3rem;
    font-family: var(--font-family);
    opacity: 0.9;
}

.typewrite>.wrap {
    border-right: 0.08em solid white;
}

.search-box {
    position: relative;
    width: 800px;
    gap: 10px;
}

.suggestions {
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    margin-top: 10px;
    z-index: 100;
    position: absolute;
    width: 100%;
    max-height: 180px;
    border-radius: 20px;
    clip-path: inset(0 round 20px);
    /* padding: 10px 18px; */
    font-size: 14px;
    /* Glass Morfin */
    background: rgba(36, 35, 35, 0.822);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(8px);

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    scrollbar-gutter: stable;
}

.suggestion-item {
    font-family: sans-serif;
    padding: 14px 18px;

    color: white;

    cursor: pointer;

    transition: 0.3s;
}

.suggestion-item:hover {
    background: rgba(255, 255, 255, 0.15);
}

.suggestions::-webkit-scrollbar {
    width: 6px;
}

.suggestions::-webkit-scrollbar-track {
    background: transparent;
}

.suggestions::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);

    border-radius: 10px;
}

.search-bar {
    color: white;
    z-index: 5;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: none;
    padding: 10px 18px;
    font-size: 14px;
    /* Glass Morfin */
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    /* border-radius: 20px; */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
    position: relative;
    overflow: hidden;

}


.search-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.8),
            transparent);
}

.search-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.8),
            transparent,
            rgba(255, 255, 255, 0.3));
}

.search-bar::placeholder {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-style: bold;
    opacity: 0.8;
}

.ri-search-ai-line {
    z-index: 10;
    background-color: rgb(231, 225, 225);
    border-radius: 19px;
    padding: 8px 10px;
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.3rem;
}

.ri-search-ai-line:hover {
    background-color: rgb(190, 184, 184);
}

/* Every page */

.page2 {
    position: relative;
    background-color: rgba(78, 78, 78, 0.301);
    /* opacity: 0.4; */
}

/* .content-page-two{
    position: absolute;
    max-width: 500px;
} */
.headings {
    z-index: 10;
    position: absolute;
    top: 40px;
    left: 100px;
    gap: 10px;
}

.headings h1 {
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
    font-size: var(--font-pimary-heading);
}

.headings p {

    color: rgb(255, 255, 255);
    font-family: var(--font-family);
    font-size: var(--font-secountry);
}

/* .box-1 {
    margin-top: 10px;
    border-radius: 10px;
    width: 600px;
    height: 250px;


    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(26, 25, 25, 0.5),
        inset 0 -1px 0 rgba(41, 40, 40, 0.1),
        inset 0 0 8px 4px rgba(22, 22, 22, 0.4);
    position: relative;
    overflow: hidden;
} */

.box-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.8),
            transparent);
}

.box-1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(43, 41, 41, 0.8),
            transparent,
            rgba(255, 255, 255, 0.3));
}

.box-1 {
    margin-top: 10px;

    width: 600px;
    height: 250px;

    padding: 20px;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 15px;

    background: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(9px);

    -webkit-backdrop-filter: blur(9px);

    border-radius: 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(26, 25, 25, 0.5),
        inset 0 -1px 0 rgba(41, 40, 40, 0.1),
        inset 0 0 8px 4px rgba(22, 22, 22, 0.4);
}

.weather-stat {
    border-radius: 15px;

    padding: 15px;

    background: rgba(255, 255, 255, 0.04);

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;
}

.weather-stat h3 {
    color: rgba(255, 255, 255, 0.7);

    font-size: 14px;

    font-family: var(--font-family);

    margin-bottom: 10px;
}

.weather-stat p {
    color: white;

    font-size: 1.4rem;

    font-weight: 600;

    font-family: var(--font-family);
}

.page3 {
    background-color: rgb(48, 81, 110);
    opacity: 0.2;
}

.page4 {
    background-color: rgb(167, 119, 16);
    opacity: 0.2;
}

/* Loader */
.spinner {
    scale: 0.88;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.spinner span {
    display: block;
    transform-origin: 32px 32px;
    animation: spin 1.2s linear infinite;
}

.spinner span:after {
    border-radius: 20%;
    background-color: #ffffff;
    content: " ";
    display: block;
    height: 14px;
    width: 5px;
    position: absolute;
    left: 30px;
    top: 5px;
}

.spinner span:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.spinner span:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.spinner span:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.spinner span:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.spinner span:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.spinner span:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.spinner span:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.spinner span:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.spinner span:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.spinner span:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.spinner span:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.spinner span:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes spin {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Loader Wrapper */
.loader-box {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;

    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

/* No Result Text */
.no-result {
    color: white;
    font-family: var(--font-family);
    font-size: 16px;
    display: none;
}

.button-box {
    position: absolute;
    bottom: -300px;
    display: flex;
    align-items: center;
    gap: 6px;

}

.location-btn {
    cursor: pointer;
    padding: 10px 34px;
    font-family: sans-serif;
    background-color: rgba(245, 245, 245, 0.568);
    border: none;
    font-size: 1.1rem;
    color: #ffffff;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(252, 250, 250, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding-left: 50px;
    padding-right: 20px;
    transition: all 0.35s ease;
}
.location-btn:hover{
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(32, 31, 31, 0.651); */
    /* transform: translateY(-2px); */
    
        background: rgba(255, 255, 255, 0.15);
    
        box-shadow:
            0 12px 35px rgba(255, 255, 255, 0.15),
            inset 0 1px 0 rgba(255, 255, 255, 0.6),
            inset 0 -1px 0 rgba(255, 255, 255, 0.15),
            inset 0 0 6px 3px rgba(255, 255, 255, 0.25);
}

.ri-gps-line {
    cursor: pointer;
    left: 10px;
    z-index: 100;
    position: absolute;
    font-size: 1.6rem;
    color: white;
}

.ri-gps-line:hover {
    transform: rotate(15deg) scale(1.1);
    transition: all 0.35s ease;
}
.temp-row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: #ffffff;
    /* position: relative; */
}
.temp-city{
    margin-left: 10px;
    margin-bottom: 45px;
    font-family: sans-serif;

}
.weather-line{
   max-width: 600px;
   white-space: nowrap;
/* overflow: hidden; */
font-size: clamp(0.8rem, 2vw, 1.4rem);

   
}